* {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.navbar {
    background-color: black;
    height: 50px;
    width: 100%;
}

.navbar-container {
    display: flex;
    align-items: center;
    padding: 0px 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
}

.logo-container {
    flex: 1;
}

.logo {
    font-size: 30px;
    cursor: default;
}

.main-container {
    flex: 6;
}

.menu-list {
    list-style: none;
    display: flex;
}

.list-item {
    margin-right: 30px;
    cursor: pointer;
}

.list-item.active {
    font-weight: bold;
}

.profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-box {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.profile-box:hover {
    background-color: rgb(38, 38, 38);
}

.profile-picture {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.prof-text-container {
    margin-left: 20px;
}

.toggle {
    background-color: white;
    width: 40px;
    height: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0px 20px;
    cursor: pointer;
}

.toggle-icon {
    color: goldenrod;
}

.toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    transition: all .3s ease;
}


.sidebar {
    background-color: black;
    height: 100%;
    width: 50px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.left-menu-icon {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}

.container {
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
}

.content-container {
    margin-left: 50px;
}

.featured-content {
    height: 50vh;
    padding: 50px;
}

.featured-title {
    width: 200px;
}

.featured-desc {
    width: 500px;
    color: lightgray;
    margin: 30px 0px;
    cursor: default;
}

.featured-button {
    cursor: pointer;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: white;
    border: 0;
    outline: 0;
    font-weight: 900;
}

.featured-button:hover {
    background-color: rgb(201, 201, 201);
}

.movie-list-container {
    padding: 0px 20px;
}

.movie-list-wrapper {
    position: relative;
    overflow: hidden;
}

.movie-list {
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.movie-list-item {
    margin-right: 30px;
    position: relative;
}

.movie-list-item:hover .movie-img {
    transform: scale(1.2);
    cursor: pointer;
    opacity: 50%;
}

.movie-list-item:hover .movie-list-desc,
.movie-list-item:hover .movie-title,
.movie-list-item:hover .movie-button {
    opacity: 100%;
}

.movie-img {
    width: 270px;
    height: 200px;
    object-fit: cover;
    transition: all .3s ease-in-out;
    border-radius: 20px;
}


.movie-title {
    background-color: #333;
    padding: 5px 10px;
    position: absolute;
    font-size: 30px;
    border-radius: 5px;
    top: 5%;
    left: 1%;
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.movie-list-desc {
    background-color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: 30%;
    left: 1%;
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.movie-button {
    padding: 10px;
    border: 0;
    outline: 0;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    left: 1%;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.arrow {
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.arrow:hover {
    color: white;
    opacity: 1;
}

.container.active {
    background-color: white;
}

.movie-list-title.active {
    color: black;
}

.navbar-container.active {
    background-color: white;
    color: black;
}

.sidebar.active {
    background-color: white;
}

.left-menu-icon.active {
    color: black;
}

.toggle.active {
    background-color: black;
}

.toggle-ball.active {
    background-color: white;
    transform: translateX(-20px);
}


@media only screen and (max-width: 940px) {
    .main-container {
        display: none;
    }
}